<main [ngStyle]="backgroundImage" class="bg-center bg-no-repeat">
    <div *ngIf="backgroundColor" (click)="handleCloseModal()" class="absolute inset-0 bg-black opacity-80 z-10"></div>
    <app-menu (modalStatusChange)="onModalStatusChange($event)" class="relative z-20"></app-menu>
    <section (click)="handleCloseModal()" class="flex flex-col justify-between gap-10 py-10 h-screen">
        <h1 class="text-center font-black text-3xl text-blue-500">Dashboard FORD</h1>
        <div class="flex justify-around">
            <div class="bg-gray-100 h-30 w-44 font-black rounded">
            <h2 class="pl-4 py-2">Veiculo</h2>
                <select class="pl-4" [(ngModel)]="selectedCar" name="car">
                    <option *ngFor="let car of cars" [ngValue]="car">{{ car.model }}</option>
                </select>
            </div>
            <div class="bg-gray-100 h-30 w-44 font-black rounded">
                <h2 class="pl-4 py-2">Total de Vendas</h2>
                <h1 class="pl-4">{{selectedCar.totalVendas}}</h1>
                <p class="pl-4">Unid</p>
            </div>
            <div class="bg-gray-100 h-30 w-44 font-black rounded">
                <h2 class="pl-4 py-2">Conectados</h2>
                <h1 class="pl-4">{{selectedCar.conectados}}</h1>
                <p class="pl-4">Unid</p>
            </div>
            <div class="bg-gray-100 h-30 w-44 font-black rounded">
                <h2 class="pl-4 py-2">Update Software</h2>
                <h1 class="pl-4">{{selectedCar.update}}</h1>
                <p class="pl-4">Unid</p>
            </div>
        </div>
        <div>
            <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                <thead class="text-xs text-white uppercase bg-blue-900">
                    <tr>
                        <th scope="col" class="px-6 py-3">Codigo - Vin</th>
                        <th scope="col" class="px-6 py-3">Odômetro</th>
                        <th scope="col" class="px-6 py-3">Nivel de Combustivel</th>
                        <th scope="col" class="px-6 py-3">Status</th>
                        <th scope="col" class="px-6 py-3">Lat.</th>
                        <th scope="col" class="px-6 py-3">Long</th>
                    </tr>
                </thead>
                <tbody class="bg-gray-200">
                    <tr>
                        <td class="px-6 py-3"><p>askdaskdaskd</p></td>
                        <td class="px-6 py-3"><p>40000 km</p></td>
                        <td class="px-6 py-3"><p>90%</p></td>
                        <td class="px-6 py-3"><p>on</p></td>
                        <td class="px-6 py-3"><p>12.345678</p></td>
                        <td class="px-6 py-3"><p>98.765432</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
