<main [ngStyle]="{'background-image': 'url(/assets/' + selectedCar.model + '.png)'}" class="bg-center bg-no-repeat">
    <app-menu></app-menu>
    <section class="flex flex-col justify-between gap-10 py-10 h-screen">
        <h1 class="text-center">Dashboard FORD</h1>
        <div class="flex justify-around">
            <div class="bg-gray-100">
                <h2>Veiculo</h2>
                <select [(ngModel)]="selectedCar" name="car">
                    <option *ngFor="let car of cars" [ngValue]="car">{{ car.model }}</option>
                </select>
            </div>
            <div class="bg-gray-100">
                <h2>Total de Vendas</h2>
                <h1>1500</h1>
                <p>Unid</p>
            </div>
            <div class="bg-gray-100">
                <h2>Conectados</h2>
                <h1>500</h1>
                <p>Unid</p>
            </div>
            <div class="bg-gray-100">
                <h2>Update Software</h2>
                <h1>750</h1>
                <p>Unid</p>
            </div>
        </div>
        <div>
            <h1>teste</h1>
        </div>
    </section>
</main>
