<main *ngIf="selectedCar" [ngStyle]="{ 'background-image': 'url(' + selectedCar.img + ')' }" class="bg-center bg-no-repeat">
    <div *ngIf="backgroundColor" (click)="handleCloseModal()" class="absolute inset-0 bg-black opacity-80 z-10"></div>
    <app-menu (modalStatusChange)="onModalStatusChange($event)" class="relative z-20"></app-menu>
    <section (click)="handleCloseModal()" class="flex flex-col justify-between gap-10 py-10 h-screen">
        <h1 class="text-center font-black text-3xl text-blue-500">Dashboard FORD</h1>
        <div class="flex justify-around">
            <div class="bg-gray-100 h-30 w-44 font-black rounded">
            <h2 class="pl-4 py-2">Veiculo</h2>
                <select class="pl-4" [(ngModel)]="selectedCar" name="car" (change)="selectVinData()">
                    <option *ngFor="let car of carList" [ngValue]="car">{{ car.vehicle }}</option>
                </select>
            </div>
            <div class="bg-gray-100 h-30 w-44 font-black rounded">
                <h2 class="pl-4 py-2">Total de Vendas</h2>
                <h1 class="pl-4">{{selectedCar.volumetotal}}</h1>
                <p class="pl-4">Unid</p>
            </div>
            <div class="bg-gray-100 h-30 w-44 font-black rounded">
                <h2 class="pl-4 py-2">Conectados</h2>
                <h1 class="pl-4">{{selectedCar.connected}}</h1>
                <p class="pl-4">Unid</p>
            </div>
            <div class="bg-gray-100 h-30 w-44 font-black rounded">
                <h2 class="pl-4 py-2">Update Software</h2>
                <h1 class="pl-4">{{selectedCar.softwareUpdates}}</h1>
                <p class="pl-4">Unid</p>
            </div>
        </div>
        <div>
            <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                <thead class="text-xs text-white uppercase bg-blue-900">
                    <tr>
                        <th scope="col" class="px-6 py-3">Codigo - Vin</th>
                        <th scope="col" class="px-6 py-3">Odômetro</th>
                        <th scope="col" class="px-6 py-3">Nivel de Combustivel</th>
                        <th scope="col" class="px-6 py-3">Status</th>
                        <th scope="col" class="px-6 py-3">Lat.</th>
                        <th scope="col" class="px-6 py-3">Long</th>
                    </tr>
                </thead>
                <tbody class="bg-gray-200">
                    <tr class="text-black">
                        <td class="px-6 py-3"><p>{{listVin[vinData.id]}}</p></td>
                        <td class="px-6 py-3"><p>{{vinData.odometro}}</p></td>
                        <td class="px-6 py-3"><p>{{vinData.nivelCombustivel}}</p></td>
                        <td class="px-6 py-3"><p>{{vinData.status}}</p></td>
                        <td class="px-6 py-3"><p>{{vinData.lat}}</p></td>
                        <td class="px-6 py-3"><p>{{vinData.long}}</p></td>
                    </tr>
                </tbody>
            </table>
            <div class="bg-blue-900 w-full"></div>
        </div>
    </section>
</main>
